page-sign-in{
    .appContainer{
        border: solid 0px black;
        height: 100%;
    }
    .logoHolder{
        border: solid 0px black;
        position: relative;
        top: 60px;
    }
    .myLogo{
        width: 40%;
        position: relative;
        left: 30%; 
    }
    .signInText{
        border: solid 0px black;
        position: relative;
        top: 70px;
    }
    .signInText{
        font-size: 200%;
        position: relative;
        left: 4%;
        color: rgb(98, 133, 134);
    }
     .signInTextHolder{
        position: relative;
        width: 50%;
        margin-left: 5%
    }
    .signInFormHolder{
        border: solid 0px black;
        position: relative;
        top: 70px;
        padding: 20px;
    }
    
    .signInButton{
        position: relative;
        display: block;
        margin: 10% auto;
        background-color:  #a1c45a;
        border: solid 1px  #a1c45a;
        width: 97%;
    }

    .forgotText{
        color: rgb(98, 133, 134);
        font-weight: bold;
    }

    .signUpText{
        color: rgb(98, 133, 134);
        font-weight: bold;
        margin-left: 20%
    }
}