.iconHolder{
    border: dotted 0px black;
    position: relative;
    top:1%;
    
}
.iconHomePage{
    width: 15%;
}

.createIcon{
    float: right;
    font-size: 240%;
    position: relative;
    top: 14px;
    right: 8%;
    color: white;    
}

.ionicHeader{
    background-color:rgb(236, 170, 38);
    height: 27%;
}

.backIcon{
    float: left;
    font-size: 240%;
    position: relative;
    top: 14px;
    left: 8%; 
    color: white;
}



.profileImage{
    border: solid 5px #a1c45a;
    position: relative;
    margin-top: 20%;
    width: 50%;
    left: 23%;
    height: 105%;
    border-radius: 50%;
}

.nameHolder{
    border: solid 2px cadetblue;  
    position: relative;
    margin-top: 36%; 
    
}

.userName{
    font-size: 2em;
    text-align: center;
}



.userEmail{
    font-size: 1em;
    text-align: center;
    top:-2%;
}