<ion-header>
  <div class="iconHolder">
    <img src="../../assets/imgs/signUplogo.PNG" class="iconHomePage">
 
    <!-- <ion-searchbar (ionInput)="getItems($event)" class="mySearchBar"></ion-searchbar>
  --><ion-label class="mys">ADD INGREDIENTS</ion-label>
    </div>
 
      <div class="navigationHolder">
          <ion-icon ios="ios-refresh" md="md-refresh" class="myNavicon"></ion-icon>
          <ion-icon ios="ios-basket" md="md-basket" class="myNavicon"></ion-icon>
          <ion-icon ios="ios-contact" md="md-contact" class="myNavicon" (click)="profile()"></ion-icon>
          <ion-icon ios="ios-power" md="md-power" class="myNavicon" (click)="userLogOut()"></ion-icon>
        </div>
 
 </ion-header>


<ion-content class="myContent">
    <h3>Meat</h3>
  <div class="scrollbar">
      
    <div class="image">
        <img src="../../assets/icon/icons/icons8-thanksgiving-turkey-64.png" alt="" width="50%" height="50%">
        <h6>Turkey</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/meat-icon/Ribs.jpg" alt="" width="50%" height="50%">
        <h6>Ribs</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/icons/icons8-steak-64.png" alt="" width="50%" height="50%">
        <h6>Steak</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/meat-icon/chicken.jpg" alt="" width="50%" height="50%">
        <h6>Chicken</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/icons/icons8-salmon-64.png" alt="" width="50%" height="50%">
        <h6>Salmon</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/icons/icons8-salami-64.png" alt="" width="50%" height="50%">
        <h6>Salami</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/icons/icons8-meat-64.png" alt="" width="50%" height="50%">
        <h6>Pork</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/icons/icons8-gammon-64 - Copy.png" alt="" width="50%" height="50%">
        <h6>gammon</h6>
    </div>
    <div class="image">
            <img src="../../assets/icon/icons/icons8-beef-64 - Copy.png" alt="" width="50%" height="50%">
            <h6>Beef</h6>
    </div>
    <div class="image">
        <img src="../../assets/icon/icons/icons8-barbecue-sausage-64 - Copy.png" alt="" width="50%" height="50%">
        <h6>Sausage</h6>
    </div>    
    <div class="image">
            <img src="../../assets/icon/icons/icons8-bacon-64 - Copy.png" alt="" width="50%" height="50%">
            <h6>Bacon</h6>
        </div>
  </div>
  <h3>Vegetables</h3>
  <div class="scrollbar">
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/broccoly.jpg" alt="" width="20%" height="20%">
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/carrot.png" alt="" width="50%" height="50%">
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/chillies.png" alt="" >
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/colliflower.jpg" alt="" width="50%" height="50%">
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/eggplant.png" alt="" width="50%" height="50%">
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/garllic.jpg" alt="" width="50%" height="50%">
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/greenpepper.png" alt="" width="50%" height="50%">
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/onion.jpg" alt="" width="50%" height="50%">
        </div>
        <div class="image">
            <img src="../../assets/icon/Vegi-Icon/pumkin.png" alt="" width="50%" height="50%">
        </div>
      </div>
<h3>Fruits</h3>
      <div class="scrollbar">
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/apple.png" alt="" width="20%" height="20%">
            </div>
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/avocado.png" alt="" width="50%" height="50%">
            </div>
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/banana.png" alt="" >
            </div>
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/blueberries.png" alt="" width="50%" height="50%">
            </div>
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/cherries.png" alt="" width="50%" height="50%">
            </div>
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/grapes.png" alt="" width="50%" height="50%">
            </div>
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/lemon.png" alt="" width="50%" height="50%">
            </div>
            <div class="image">
                <img src="../../assets/icon/Fruit-icon/mango.jpg" alt="" width="50%" height="50%">
            </div>
            <div class="image">
                <button class="button profilebutton icon ion-camera" ng-click="upload()"></button>
                <img src="../../assets/icon/Fruit-icon/orange.png" alt="" width="50%" height="50%">
            </div>
          </div>
<button ion-button class="btn">Submit</button>
<ion-content padding>
  
  <ion-label>Category</ion-label>
  <ion-item>
    <ion-select [(ngModel)]="category">
      <ion-option value="Vegan">Vegan</ion-option>
      <ion-option value="Vegeterian">Vegeterian</ion-option>
      <ion-option value="Meat Lover">Meat Lover</ion-option>
    </ion-select>
  </ion-item>

  <ion-label>Sub-Category</ion-label>
  <ion-item>
    <ion-select [(ngModel)]="sub_category">
      <ion-option value="Breakfast">Breakfast</ion-option>
      <ion-option value="Lunch">Lunch</ion-option>
      <ion-option value="Dinner">Dinner</ion-option>
      <ion-option value="Dessert">Dessert</ion-option>
    </ion-select>
  </ion-item>

<ion-input type="text" [(ngModel)]="item"></ion-input>
<button ion-button (click)="addItem()">Add Item</button>
<button ion-button (click)="search()">Search</button>

<ion-list *ngFor="let a of searchedrecipe">
    {{a.name}}<br>
    {{a.description}}<br>
    <img src="{{a.image}}" alt="">
</ion-list>
</ion-content>
