page-signup{
    .appContainer{
        border: solid 0px black;
        position: relative;
        top: 2%;   
    }
    .myHeader{
        border: solid 0px black;
        position: relative;
        top: 29px;
    }
    .myLogo{
        width: 30%;
        position: relative;
    }
    .signInText1{
        float: right;
        font-size: 1em;
        position: relative;
        right: 0%;
        top: 28px;
        border-radius: 20px;
        border: solid 1px rgb(236, 170, 38);
        color: rgb(98, 133, 134);
    }
    .createAccountText{
        border: solid 0px black;
        position: relative;
        top: 50px;
        font-size: 1.6em;
        color: rgb(98, 133, 134);
    }
    .signUpformHolder{
        border: solid 0px black;
        position: relative;
        top: 70px;
    }
    .signUpButton{
        position: relative;
        display: block;
        margin: 10% auto;
        background-color:  #a1c45a;
        border: solid 1px  #a1c45a;
        width: 97%;
    }
    .agreementText{
        color: rgb(98, 133, 134); 
        font-size: 0.8em;
        text-align: center;
        position: relative;
        top: 50px; 
        font-weight: bold;
    }
}