.myHeader{
    border: dotted 0px black;
    position: relative;
    top: 0%;
    height: 10%;
    
}

.mySection1{
    border: dotted 2px black;
    position: relative;
    margin: 0% -11% auto;
    width: fit-content;
    height: 70%;
}

.myFooter{
    border: dotted 0px black;
    position: absolute;
    top: 90%;
    width: 100%;
    color: cornflowerblue; 
}

.myFooterSignUp{
    border: dotted 1px black;
    position: absolute;
    margin-top: -14%;
    width: 110%;
    color: cornflowerblue;
}

.myLogo1{
    width:40%;
    position: absolute;
    top: 0%;
    left:30%;
}

.myHeaderImage{
    width:45%;
    margin-left: 28%;
}

.mySignInCard{
    position: relative;
    top: 7%;

        
    
}


.mySignupCard{
    position: relative;
    top: 10%;
    width: 100%;
    margin-left: -5%;
}

.mySignInBtn{
    width: 60%;
    height: 20px;
    position: relative;
    top: 0%;
}

.forgotPasswordText{
    font-weight: bold;
    color:navy;
    position: relative;
   
}

.belowImage1{
    display: block;
    margin: 20% 20% auto;
    position: relative;
    margin-top: 5%;
}

.belowImageSignUp{
    width:12%;
    position: relative;
    margin-top: 1%;
    left: 45%;  
}

.mySignInButton{
    background-color:#a1c45a;
}

.copyRightText{
    margin-left: 32%;
    font-weight:bold; 
    color: rgb(236, 170, 38); 
    position: relative;
    top: 8%;
}
